#mainDiv{
    font-family: serif;
    font-size: 20px;
    color: dark;
}
#chart01, #chart02, #chart03, #chart04{
    
    text-align: center;
    display: inline-block;
}
#menu{
    text-align: center;
}
#title{
    text-align: center;
    
}
.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}
.zoom{
    fill: none;
    pointer-events: all;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: darkgray;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}